[user]
	name = Théo Larue
	email = theo.larue@ryax.tech
[core]
	editor = nvim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	yolo = !git add -A && git commit -m \"$(curl --silent --fail http://whatthecommit.com/index.txt)\"
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[pull]
	rebase = false
