[user]
	name = Théo Larue
	email = theo.larue@ryax.tech
[core]
	editor = nvim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[pull]
	rebase = false
