#!/bin/sh

feh --bg-scale $HOME/dotfiles/wallpapers/jrogers_11.webp &
picom -b &
xss-lock --transfer-sleep-lock -- sessionlock &
lorri daemon &
dunst &
sh -c "$HOME/.local/bin/remaps" &

#systray
udiskie --tray &
megasync &
blueman-applet &
