#!/bin/sh

feh --bg-scale $HOME/dotfiles/wallpapers/jrogers_11.webp &
picom -b &
xss-lock --transfer-sleep-lock -- sessionlock &
blueman-applet &
lorri daemon &
megasync &
udiskie --tray &
dunst &
sh -c "$HOME/.local/bin/remaps" &
