*.background:	#12202d
*.color0:	#12202d
*.color1:	#D08E7D
*.color10:	#E59E7D
*.color11:	#7A6E81
*.color12:	#A27A83
*.color13:	#D18E83
*.color14:	#C89C8B
*.color15:	#e9c4b9
*.color2:	#E59E7D
*.color3:	#7A6E81
*.color4:	#A27A83
*.color5:	#D18E83
*.color6:	#C89C8B
*.color66:	#12202d
*.color7:	#e9c4b9
*.color8:	#a38981
*.color9:	#D08E7D
*.foreground:	#e9c4b9
*background:	#12202d
*color0:	#12202d
*color1:	#D08E7D
*color10:	#E59E7D
*color11:	#7A6E81
*color12:	#A27A83
*color13:	#D18E83
*color14:	#C89C8B
*color15:	#e9c4b9
*color2:	#E59E7D
*color3:	#7A6E81
*color4:	#A27A83
*color5:	#D18E83
*color6:	#C89C8B
*color66:	#12202d
*color7:	#e9c4b9
*color8:	#a38981
*color9:	#D08E7D
*foreground:	#e9c4b9
URxvt*background:	[100]#12202d
URxvt*borderColor:	[100]#12202d
URxvt*cursorColor:	#e9c4b9
URxvt*depth:	32
URxvt*foreground:	#e9c4b9
UXTerm*background:	#12202d
UXTerm*cursorColor:	#e9c4b9
UXTerm*foreground:	#e9c4b9
XClock*background:	#12202d
XClock*foreground:	#e9c4b9
XClock*hourColor:	rgba:e9/c4/b9/ff
XClock*majorColor:	rgba:e9/c4/b9/ff
XClock*minorColor:	rgba:e9/c4/b9/ff
XClock*minuteColor:	rgba:e9/c4/b9/ff
XClock*secondColor:	rgba:e9/c4/b9/ff
XTerm*background:	#12202d
XTerm*cursorColor:	#e9c4b9
XTerm*foreground:	#e9c4b9
emacs*background:	#12202d
emacs*foreground:	#e9c4b9
